nav {
    display: flex;
    align-items: center;
    background-color: #f0f1f2;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
    font-family: poppins;
}

ul li {
    display: inline-block;
    padding: 0px 35px;
}

a{
    text-decoration: none;
    color: #222602;
}

a:hover {
    color: white;
}


H1 {
    color:#222602;
    font-size: 35px;
    font-family: league spartan;
    text-align: center;
    line-height: 1.5em;
}



H2 {
    color: #50590a;
    font-size: 15px;
    font-family: poppins;
    text-align: center;
    line-height: 1.5em;
}

body {
    background-color: #ececec;
}
  
button {
    background-color: #a9bf04;
    display: block;
    width: 200px;
    border-radius: 10px;
    margin: 150px 130px;
    border: 10px;
    padding: 10px 10px;
    text-align: center;
    color: #222602;
    font-size: 16px;
    cursor: pointer;
   

   
}